<%-include("../adminPartials/header")%>
<section class="section1">
    <table>
    <tr>
    <td>
    <div class="form">
        <h1>ADD Notification</h1>
        <form class="form" action="/addNotification" method="post">
            <textarea class="form-control" name="description" id="" cols="45" placeholder="Description" rows="8"></textarea>
        
        <button style="display: block; margin-top: 20px;" type="submit" class="btn btn-success">Add notification</button>
    </form>
        </div>
     </td>
   </tr>

  </table>
</section>
<%-include("../adminPartials/footer")%>